/**
 * SETUP
 */
/**
 * PLUGINS
 */
/**
 * DISPLAY
 */
.dsp--xs--blk {
  display: block; }

.dsp--xs--inl {
  display: inline-block; }

.dsp--xs--inl-blk {
  display: inline-block; }

.dsp--xs--none {
  display: none; }

.dsp--xs--sb,
.dsp--xs--sa {
  display: flex;
  width: 100%; }

.dsp--xs--sb {
  justify-content: space-between; }

.dsp--xs--sa {
  justify-content: space-around; }

@media (min-width: 544px) {
  .dsp--sm--blk {
    display: block; }
  .dsp--sm--inl {
    display: inline-block; }
  .dsp--sm--inl-blk {
    display: inline-block; }
  .dsp--sm--none {
    display: none; }
  .dsp--sm--sb,
  .dsp--sm--sa {
    display: flex;
    width: 100%; }
  .dsp--sm--sb {
    justify-content: space-between; }
  .dsp--sm--sa {
    justify-content: space-around; } }

@media (min-width: 768px) {
  .dsp--md--blk {
    display: block; }
  .dsp--md--inl {
    display: inline-block; }
  .dsp--md--inl-blk {
    display: inline-block; }
  .dsp--md--none {
    display: none; }
  .dsp--md--sb,
  .dsp--md--sa {
    display: flex;
    width: 100%; }
  .dsp--md--sb {
    justify-content: space-between; }
  .dsp--md--sa {
    justify-content: space-around; } }

@media (min-width: 992px) {
  .dsp--lg--blk {
    display: block; }
  .dsp--lg--inl {
    display: inline-block; }
  .dsp--lg--inl-blk {
    display: inline-block; }
  .dsp--lg--none {
    display: none; }
  .dsp--lg--sb,
  .dsp--lg--sa {
    display: flex;
    width: 100%; }
  .dsp--lg--sb {
    justify-content: space-between; }
  .dsp--lg--sa {
    justify-content: space-around; } }

@media (min-width: 1200px) {
  .dsp--xl--blk {
    display: block; }
  .dsp--xl--inl {
    display: inline-block; }
  .dsp--xl--inl-blk {
    display: inline-block; }
  .dsp--xl--none {
    display: none; }
  .dsp--xl--sb,
  .dsp--xl--sa {
    display: flex;
    width: 100%; }
  .dsp--xl--sb {
    justify-content: space-between; }
  .dsp--xl--sa {
    justify-content: space-around; } }

/**
 * GRID
 */
.row {
  position: relative;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  flex: 1 1 auto;
  flex-wrap: wrap; }
  .row:before, .row:after {
    display: table;
    content: ''; }
  .row:after {
    clear: both; }
  .row:not(.row--flush) > [class*='col--'] {
    padding-right: 15px;
    padding-left: 15px; }

.row--str {
  align-items: stretch; }

.row--flush {
  margin-right: 0;
  margin-left: 0; }

.row--col {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; }

.row--xs--w {
  flex-wrap: wrap; }

.row--xs--nw {
  flex-wrap: nowrap; }

.row--xs--col {
  flex-direction: column; }

.row--xs--row {
  flex-direction: row; }

.row--xs--a--fs {
  align-items: flex-start; }

.row--xs--a--fe {
  align-items: flex-end; }

.row--xs--a--c {
  align-items: center; }

.row--xs--j--fs {
  justify-content: flex-start; }

.row--xs--j--fe {
  justify-content: flex-end; }

.row--xs--j--c {
  justify-content: center; }

.row--xs--j--sb {
  justify-content: space-between; }

.row--xs--j--sa {
  justify-content: space-around; }

.col--xs--1 {
  width: 8.33333%; }

.col--xs--o--1 {
  margin-left: 8.33333%; }

.col--xs--2 {
  width: 16.66667%; }

.col--xs--o--2 {
  margin-left: 16.66667%; }

.col--xs--3 {
  width: 25%; }

.col--xs--o--3 {
  margin-left: 25%; }

.col--xs--4 {
  width: 33.33333%; }

.col--xs--o--4 {
  margin-left: 33.33333%; }

.col--xs--5 {
  width: 41.66667%; }

.col--xs--o--5 {
  margin-left: 41.66667%; }

.col--xs--6 {
  width: 50%; }

.col--xs--o--6 {
  margin-left: 50%; }

.col--xs--7 {
  width: 58.33333%; }

.col--xs--o--7 {
  margin-left: 58.33333%; }

.col--xs--8 {
  width: 66.66667%; }

.col--xs--o--8 {
  margin-left: 66.66667%; }

.col--xs--9 {
  width: 75%; }

.col--xs--o--9 {
  margin-left: 75%; }

.col--xs--10 {
  width: 83.33333%; }

.col--xs--o--10 {
  margin-left: 83.33333%; }

.col--xs--11 {
  width: 91.66667%; }

.col--xs--o--11 {
  margin-left: 91.66667%; }

.col--xs--12 {
  width: 100%; }

.col--xs--o--12 {
  margin-left: 100%; }

.col--xs--a {
  width: auto;
  white-space: nowrap;
  flex: 0 0 auto; }

.col--xs--a--fs {
  align-self: flex-start; }

.col--xs--a--fe {
  align-self: flex-end; }

.col--xs--a--c {
  align-self: center; }

.col--xs--first {
  order: -1; }

.col--xs--last {
  order: 1; }

@media (min-width: 544px) {
  .row--sm--w {
    flex-wrap: wrap; }
  .row--sm--nw {
    flex-wrap: nowrap; }
  .row--sm--col {
    flex-direction: column; }
  .row--sm--row {
    flex-direction: row; }
  .row--sm--a--fs {
    align-items: flex-start; }
  .row--sm--a--fe {
    align-items: flex-end; }
  .row--sm--a--c {
    align-items: center; }
  .row--sm--j--fs {
    justify-content: flex-start; }
  .row--sm--j--fe {
    justify-content: flex-end; }
  .row--sm--j--c {
    justify-content: center; }
  .row--sm--j--sb {
    justify-content: space-between; }
  .row--sm--j--sa {
    justify-content: space-around; }
  .col--sm--1 {
    width: 8.33333%; }
  .col--sm--o--1 {
    margin-left: 8.33333%; }
  .col--sm--2 {
    width: 16.66667%; }
  .col--sm--o--2 {
    margin-left: 16.66667%; }
  .col--sm--3 {
    width: 25%; }
  .col--sm--o--3 {
    margin-left: 25%; }
  .col--sm--4 {
    width: 33.33333%; }
  .col--sm--o--4 {
    margin-left: 33.33333%; }
  .col--sm--5 {
    width: 41.66667%; }
  .col--sm--o--5 {
    margin-left: 41.66667%; }
  .col--sm--6 {
    width: 50%; }
  .col--sm--o--6 {
    margin-left: 50%; }
  .col--sm--7 {
    width: 58.33333%; }
  .col--sm--o--7 {
    margin-left: 58.33333%; }
  .col--sm--8 {
    width: 66.66667%; }
  .col--sm--o--8 {
    margin-left: 66.66667%; }
  .col--sm--9 {
    width: 75%; }
  .col--sm--o--9 {
    margin-left: 75%; }
  .col--sm--10 {
    width: 83.33333%; }
  .col--sm--o--10 {
    margin-left: 83.33333%; }
  .col--sm--11 {
    width: 91.66667%; }
  .col--sm--o--11 {
    margin-left: 91.66667%; }
  .col--sm--12 {
    width: 100%; }
  .col--sm--o--12 {
    margin-left: 100%; }
  .col--sm--a {
    width: auto;
    white-space: nowrap;
    flex: 0 0 auto; }
  .col--sm--a--fs {
    align-self: flex-start; }
  .col--sm--a--fe {
    align-self: flex-end; }
  .col--sm--a--c {
    align-self: center; }
  .col--sm--first {
    order: -1; }
  .col--sm--last {
    order: 1; } }

@media (min-width: 768px) {
  .row--md--w {
    flex-wrap: wrap; }
  .row--md--nw {
    flex-wrap: nowrap; }
  .row--md--col {
    flex-direction: column; }
  .row--md--row {
    flex-direction: row; }
  .row--md--a--fs {
    align-items: flex-start; }
  .row--md--a--fe {
    align-items: flex-end; }
  .row--md--a--c {
    align-items: center; }
  .row--md--j--fs {
    justify-content: flex-start; }
  .row--md--j--fe {
    justify-content: flex-end; }
  .row--md--j--c {
    justify-content: center; }
  .row--md--j--sb {
    justify-content: space-between; }
  .row--md--j--sa {
    justify-content: space-around; }
  .col--md--1 {
    width: 8.33333%; }
  .col--md--o--1 {
    margin-left: 8.33333%; }
  .col--md--2 {
    width: 16.66667%; }
  .col--md--o--2 {
    margin-left: 16.66667%; }
  .col--md--3 {
    width: 25%; }
  .col--md--o--3 {
    margin-left: 25%; }
  .col--md--4 {
    width: 33.33333%; }
  .col--md--o--4 {
    margin-left: 33.33333%; }
  .col--md--5 {
    width: 41.66667%; }
  .col--md--o--5 {
    margin-left: 41.66667%; }
  .col--md--6 {
    width: 50%; }
  .col--md--o--6 {
    margin-left: 50%; }
  .col--md--7 {
    width: 58.33333%; }
  .col--md--o--7 {
    margin-left: 58.33333%; }
  .col--md--8 {
    width: 66.66667%; }
  .col--md--o--8 {
    margin-left: 66.66667%; }
  .col--md--9 {
    width: 75%; }
  .col--md--o--9 {
    margin-left: 75%; }
  .col--md--10 {
    width: 83.33333%; }
  .col--md--o--10 {
    margin-left: 83.33333%; }
  .col--md--11 {
    width: 91.66667%; }
  .col--md--o--11 {
    margin-left: 91.66667%; }
  .col--md--12 {
    width: 100%; }
  .col--md--o--12 {
    margin-left: 100%; }
  .col--md--a {
    width: auto;
    white-space: nowrap;
    flex: 0 0 auto; }
  .col--md--a--fs {
    align-self: flex-start; }
  .col--md--a--fe {
    align-self: flex-end; }
  .col--md--a--c {
    align-self: center; }
  .col--md--first {
    order: -1; }
  .col--md--last {
    order: 1; } }

@media (min-width: 992px) {
  .row--lg--w {
    flex-wrap: wrap; }
  .row--lg--nw {
    flex-wrap: nowrap; }
  .row--lg--col {
    flex-direction: column; }
  .row--lg--row {
    flex-direction: row; }
  .row--lg--a--fs {
    align-items: flex-start; }
  .row--lg--a--fe {
    align-items: flex-end; }
  .row--lg--a--c {
    align-items: center; }
  .row--lg--j--fs {
    justify-content: flex-start; }
  .row--lg--j--fe {
    justify-content: flex-end; }
  .row--lg--j--c {
    justify-content: center; }
  .row--lg--j--sb {
    justify-content: space-between; }
  .row--lg--j--sa {
    justify-content: space-around; }
  .col--lg--1 {
    width: 8.33333%; }
  .col--lg--o--1 {
    margin-left: 8.33333%; }
  .col--lg--2 {
    width: 16.66667%; }
  .col--lg--o--2 {
    margin-left: 16.66667%; }
  .col--lg--3 {
    width: 25%; }
  .col--lg--o--3 {
    margin-left: 25%; }
  .col--lg--4 {
    width: 33.33333%; }
  .col--lg--o--4 {
    margin-left: 33.33333%; }
  .col--lg--5 {
    width: 41.66667%; }
  .col--lg--o--5 {
    margin-left: 41.66667%; }
  .col--lg--6 {
    width: 50%; }
  .col--lg--o--6 {
    margin-left: 50%; }
  .col--lg--7 {
    width: 58.33333%; }
  .col--lg--o--7 {
    margin-left: 58.33333%; }
  .col--lg--8 {
    width: 66.66667%; }
  .col--lg--o--8 {
    margin-left: 66.66667%; }
  .col--lg--9 {
    width: 75%; }
  .col--lg--o--9 {
    margin-left: 75%; }
  .col--lg--10 {
    width: 83.33333%; }
  .col--lg--o--10 {
    margin-left: 83.33333%; }
  .col--lg--11 {
    width: 91.66667%; }
  .col--lg--o--11 {
    margin-left: 91.66667%; }
  .col--lg--12 {
    width: 100%; }
  .col--lg--o--12 {
    margin-left: 100%; }
  .col--lg--a {
    width: auto;
    white-space: nowrap;
    flex: 0 0 auto; }
  .col--lg--a--fs {
    align-self: flex-start; }
  .col--lg--a--fe {
    align-self: flex-end; }
  .col--lg--a--c {
    align-self: center; }
  .col--lg--first {
    order: -1; }
  .col--lg--last {
    order: 1; } }

@media (min-width: 1200px) {
  .row--xl--w {
    flex-wrap: wrap; }
  .row--xl--nw {
    flex-wrap: nowrap; }
  .row--xl--col {
    flex-direction: column; }
  .row--xl--row {
    flex-direction: row; }
  .row--xl--a--fs {
    align-items: flex-start; }
  .row--xl--a--fe {
    align-items: flex-end; }
  .row--xl--a--c {
    align-items: center; }
  .row--xl--j--fs {
    justify-content: flex-start; }
  .row--xl--j--fe {
    justify-content: flex-end; }
  .row--xl--j--c {
    justify-content: center; }
  .row--xl--j--sb {
    justify-content: space-between; }
  .row--xl--j--sa {
    justify-content: space-around; }
  .col--xl--1 {
    width: 8.33333%; }
  .col--xl--o--1 {
    margin-left: 8.33333%; }
  .col--xl--2 {
    width: 16.66667%; }
  .col--xl--o--2 {
    margin-left: 16.66667%; }
  .col--xl--3 {
    width: 25%; }
  .col--xl--o--3 {
    margin-left: 25%; }
  .col--xl--4 {
    width: 33.33333%; }
  .col--xl--o--4 {
    margin-left: 33.33333%; }
  .col--xl--5 {
    width: 41.66667%; }
  .col--xl--o--5 {
    margin-left: 41.66667%; }
  .col--xl--6 {
    width: 50%; }
  .col--xl--o--6 {
    margin-left: 50%; }
  .col--xl--7 {
    width: 58.33333%; }
  .col--xl--o--7 {
    margin-left: 58.33333%; }
  .col--xl--8 {
    width: 66.66667%; }
  .col--xl--o--8 {
    margin-left: 66.66667%; }
  .col--xl--9 {
    width: 75%; }
  .col--xl--o--9 {
    margin-left: 75%; }
  .col--xl--10 {
    width: 83.33333%; }
  .col--xl--o--10 {
    margin-left: 83.33333%; }
  .col--xl--11 {
    width: 91.66667%; }
  .col--xl--o--11 {
    margin-left: 91.66667%; }
  .col--xl--12 {
    width: 100%; }
  .col--xl--o--12 {
    margin-left: 100%; }
  .col--xl--a {
    width: auto;
    white-space: nowrap;
    flex: 0 0 auto; }
  .col--xl--a--fs {
    align-self: flex-start; }
  .col--xl--a--fe {
    align-self: flex-end; }
  .col--xl--a--c {
    align-self: center; }
  .col--xl--first {
    order: -1; }
  .col--xl--last {
    order: 1; } }

/**
 * MARGIN
 */
.mar--0 {
  margin: 0; }

.mar--0--t {
  margin-top: 0; }

.mar--0--b {
  margin-bottom: 0; }

.mar--0--l {
  margin-left: 0; }

.mar--0--r {
  margin-right: 0; }

.mar--0--y {
  margin-right: 0;
  margin-left: 0; }

.mar--0--x {
  margin-top: 0;
  margin-bottom: 0; }

.mar--xs {
  margin: 1em; }

.mar--xs--t {
  margin-top: 1em; }

.mar--xs--b {
  margin-bottom: 1em; }

.mar--xs--l {
  margin-left: 1em; }

.mar--xs--r {
  margin-right: 1em; }

.mar--xs--y {
  margin-right: 1em;
  margin-left: 1em; }

.mar--xs--x {
  margin-top: 1em;
  margin-bottom: 1em; }

.mar--sm {
  margin: 2em; }

.mar--sm--t {
  margin-top: 2em; }

.mar--sm--b {
  margin-bottom: 2em; }

.mar--sm--l {
  margin-left: 2em; }

.mar--sm--r {
  margin-right: 2em; }

.mar--sm--y {
  margin-right: 2em;
  margin-left: 2em; }

.mar--sm--x {
  margin-top: 2em;
  margin-bottom: 2em; }

.mar--md {
  margin: 3em; }

.mar--md--t {
  margin-top: 3em; }

.mar--md--b {
  margin-bottom: 3em; }

.mar--md--l {
  margin-left: 3em; }

.mar--md--r {
  margin-right: 3em; }

.mar--md--y {
  margin-right: 3em;
  margin-left: 3em; }

.mar--md--x {
  margin-top: 3em;
  margin-bottom: 3em; }

.mar--lg {
  margin: 4em; }

.mar--lg--t {
  margin-top: 4em; }

.mar--lg--b {
  margin-bottom: 4em; }

.mar--lg--l {
  margin-left: 4em; }

.mar--lg--r {
  margin-right: 4em; }

.mar--lg--y {
  margin-right: 4em;
  margin-left: 4em; }

.mar--lg--x {
  margin-top: 4em;
  margin-bottom: 4em; }

.mar--xl {
  margin: 5em; }

.mar--xl--t {
  margin-top: 5em; }

.mar--xl--b {
  margin-bottom: 5em; }

.mar--xl--l {
  margin-left: 5em; }

.mar--xl--r {
  margin-right: 5em; }

.mar--xl--y {
  margin-right: 5em;
  margin-left: 5em; }

.mar--xl--x {
  margin-top: 5em;
  margin-bottom: 5em; }

/**
 * PADDING
 */
.pad--0 {
  padding: 0; }

.pad--0--t {
  padding-top: 0; }

.pad--0--b {
  padding-bottom: 0; }

.pad--0--l {
  padding-left: 0; }

.pad--0--r {
  padding-right: 0; }

.pad--0--x {
  padding-right: 0;
  padding-left: 0; }

.pad--0--y {
  padding-top: 0;
  padding-bottom: 0; }

.pad--xs {
  padding: 1em; }

.pad--xs--t {
  padding-top: 1em; }

.pad--xs--b {
  padding-bottom: 1em; }

.pad--xs--l {
  padding-left: 1em; }

.pad--xs--r {
  padding-right: 1em; }

.pad--xs--x {
  padding-right: 1em;
  padding-left: 1em; }

.pad--xs--y {
  padding-top: 1em;
  padding-bottom: 1em; }

.pad--sm {
  padding: 2em; }

.pad--sm--t {
  padding-top: 2em; }

.pad--sm--b {
  padding-bottom: 2em; }

.pad--sm--l {
  padding-left: 2em; }

.pad--sm--r {
  padding-right: 2em; }

.pad--sm--x {
  padding-right: 2em;
  padding-left: 2em; }

.pad--sm--y {
  padding-top: 2em;
  padding-bottom: 2em; }

.pad--md {
  padding: 3em; }

.pad--md--t {
  padding-top: 3em; }

.pad--md--b {
  padding-bottom: 3em; }

.pad--md--l {
  padding-left: 3em; }

.pad--md--r {
  padding-right: 3em; }

.pad--md--x {
  padding-right: 3em;
  padding-left: 3em; }

.pad--md--y {
  padding-top: 3em;
  padding-bottom: 3em; }

.pad--lg {
  padding: 4em; }

.pad--lg--t {
  padding-top: 4em; }

.pad--lg--b {
  padding-bottom: 4em; }

.pad--lg--l {
  padding-left: 4em; }

.pad--lg--r {
  padding-right: 4em; }

.pad--lg--x {
  padding-right: 4em;
  padding-left: 4em; }

.pad--lg--y {
  padding-top: 4em;
  padding-bottom: 4em; }

.pad--xl {
  padding: 5em; }

.pad--xl--t {
  padding-top: 5em; }

.pad--xl--b {
  padding-bottom: 5em; }

.pad--xl--l {
  padding-left: 5em; }

.pad--xl--r {
  padding-right: 5em; }

.pad--xl--x {
  padding-right: 5em;
  padding-left: 5em; }

.pad--xl--y {
  padding-top: 5em;
  padding-bottom: 5em; }

/**
 * POSITION
 */
.pos--xs--abs {
  position: absolute; }

.pos--xs--rel {
  position: relative; }

.pos--xs--l {
  left: 0; }

.pos--xs--r {
  right: 0; }

.pos--xs--t {
  top: 0; }

.pos--xs--t {
  bottom: 0; }

.pos--xs--tr {
  top: 0;
  right: 0; }

.pos--xs--br {
  right: 0;
  bottom: 0; }

.pos--xs--bl {
  bottom: 0;
  left: 0; }

.pos--xs--tl {
  top: 0;
  left: 0; }

@media (min-width: 544px) {
  .pos--sm--abs {
    position: absolute; }
  .pos--sm--rel {
    position: relative; }
  .pos--sm--l {
    left: 0; }
  .pos--sm--r {
    right: 0; }
  .pos--sm--t {
    top: 0; }
  .pos--sm--t {
    bottom: 0; }
  .pos--sm--tr {
    top: 0;
    right: 0; }
  .pos--sm--br {
    right: 0;
    bottom: 0; }
  .pos--sm--bl {
    bottom: 0;
    left: 0; }
  .pos--sm--tl {
    top: 0;
    left: 0; } }

@media (min-width: 768px) {
  .pos--md--abs {
    position: absolute; }
  .pos--md--rel {
    position: relative; }
  .pos--md--l {
    left: 0; }
  .pos--md--r {
    right: 0; }
  .pos--md--t {
    top: 0; }
  .pos--md--t {
    bottom: 0; }
  .pos--md--tr {
    top: 0;
    right: 0; }
  .pos--md--br {
    right: 0;
    bottom: 0; }
  .pos--md--bl {
    bottom: 0;
    left: 0; }
  .pos--md--tl {
    top: 0;
    left: 0; } }

@media (min-width: 992px) {
  .pos--lg--abs {
    position: absolute; }
  .pos--lg--rel {
    position: relative; }
  .pos--lg--l {
    left: 0; }
  .pos--lg--r {
    right: 0; }
  .pos--lg--t {
    top: 0; }
  .pos--lg--t {
    bottom: 0; }
  .pos--lg--tr {
    top: 0;
    right: 0; }
  .pos--lg--br {
    right: 0;
    bottom: 0; }
  .pos--lg--bl {
    bottom: 0;
    left: 0; }
  .pos--lg--tl {
    top: 0;
    left: 0; } }

@media (min-width: 1200px) {
  .pos--xl--abs {
    position: absolute; }
  .pos--xl--rel {
    position: relative; }
  .pos--xl--l {
    left: 0; }
  .pos--xl--r {
    right: 0; }
  .pos--xl--t {
    top: 0; }
  .pos--xl--t {
    bottom: 0; }
  .pos--xl--tr {
    top: 0;
    right: 0; }
  .pos--xl--br {
    right: 0;
    bottom: 0; }
  .pos--xl--bl {
    bottom: 0;
    left: 0; }
  .pos--xl--tl {
    top: 0;
    left: 0; } }

/**
 * PULL
 */
.pull--xs--l {
  float: left; }

.pull--xs--r {
  float: right; }

@media (min-width: 544px) {
  .pull--sm--l {
    float: left; }
  .pull--sm--r {
    float: right; } }

@media (min-width: 768px) {
  .pull--md--l {
    float: left; }
  .pull--md--r {
    float: right; } }

@media (min-width: 992px) {
  .pull--lg--l {
    float: left; }
  .pull--lg--r {
    float: right; } }

@media (min-width: 1200px) {
  .pull--xl--l {
    float: left; }
  .pull--xl--r {
    float: right; } }

/**
 * TEXT
 */
.txt--xs--sm {
  font-size: 80%; }

.txt--xs--str {
  font-weight: bold; }

.txt--xs--emp {
  font-style: italic; }

.txt--xs--eli {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.txt--xs--l {
  text-align: left; }

.txt--xs--c {
  text-align: center; }

.txt--xs--r {
  text-align: right; }

@media (min-width: 544px) {
  .txt--sm--sm {
    font-size: 80%; }
  .txt--sm--str {
    font-weight: bold; }
  .txt--sm--emp {
    font-style: italic; }
  .txt--sm--eli {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .txt--sm--l {
    text-align: left; }
  .txt--sm--c {
    text-align: center; }
  .txt--sm--r {
    text-align: right; } }

@media (min-width: 768px) {
  .txt--md--sm {
    font-size: 80%; }
  .txt--md--str {
    font-weight: bold; }
  .txt--md--emp {
    font-style: italic; }
  .txt--md--eli {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .txt--md--l {
    text-align: left; }
  .txt--md--c {
    text-align: center; }
  .txt--md--r {
    text-align: right; } }

@media (min-width: 992px) {
  .txt--lg--sm {
    font-size: 80%; }
  .txt--lg--str {
    font-weight: bold; }
  .txt--lg--emp {
    font-style: italic; }
  .txt--lg--eli {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .txt--lg--l {
    text-align: left; }
  .txt--lg--c {
    text-align: center; }
  .txt--lg--r {
    text-align: right; } }

@media (min-width: 1200px) {
  .txt--xl--sm {
    font-size: 80%; }
  .txt--xl--str {
    font-weight: bold; }
  .txt--xl--emp {
    font-style: italic; }
  .txt--xl--eli {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .txt--xl--l {
    text-align: left; }
  .txt--xl--c {
    text-align: center; }
  .txt--xl--r {
    text-align: right; } }
