/**
 * ALIASES
 */

// Positions
$position-alias: pos !default;
$absolute-alias: abs !default;
$relative-alias: rel !default;
$left-alias: l !default;
$right-alias: r !default;
$top-alias: t !default;
$bottom-alias: b !default;
$center-alias: c !default;
$vertical-alias: y !default;
$horizontal-alias: x !default;

// Grid
$row-alias: row !default;
$column-alias: col !default;
$flex-end-alias: fe !default;
$flex-start-alias: fs !default;
$space-between-alias: sb !default;
$space-around-alias: sa !default;
$align-alias: a !default;
$justify-alias: j !default;
$flush-alias: flush !default;
$first-alias: first !default;
$last-alias: last !default;
$wrap-alias: w !default;
$nowrap-alias: nw !default;
$stretch-alias: str !default;

//Display
$display-alias: dsp !default;
$block-alias: blk !default;
$inline-alias: inl !default;
$none-alias: none !default;

// Text
$text-alias: txt !default;
$strong-alias: str !default;
$italic-alias: emp !default;
$ellipsis-alias: eli !default;

// Misc
$small-alias: sm !default;
$offset-alias: o !default;
$margin-alias: mar !default;
$padding-alias: pad !default;
$pull-alias: pull !default;
$spacer: '--' !default;
