// Aliases

// Buttons
$button-alias: btn !default;

// Positions
$position-alias: pos !default;
$absolute-alias: abs !default;
$left-alias: l !default;
$right-alias: r !default;
$top-alias: t !default;
$bottom-alias: b !default;
$center-alias: c !default;
$vertical-alias: y !default;
$horizontal-alias: x !default;

// Grid
$row-alias: row !default;
$column-alias: col !default;
$flex-end-alias: fe !default;
$flex-start-alias: fs !default;
$space-between-alias: sb !default;
$align-alias: a !default;
$justify-alias: j !default;
$background-alias: bg !default;
$flush-alias: flush !default;
$first-alias: first !default;
$last-alias: last !default;
$wrap-alias: wrap !default;
$nowrap-alias: nowrap !default;
$stretch-alias: stretch !default;

//Display
$display-alias: dsp !default;
$block-alias: block !default;
$inline-alias: inline-block !default;
$none-alias: none !default;

// Text
$text-alias: txt !default;
$strong-alias: str !default;
$italic-alias: emp !default;
$ellipsis-alias: eli !default;

// Misc
$offset-alias: o !default;
$margin-alias: mar !default;
$padding-alias: pad !default;
$list-alias: lst !default;
$form-alias: frm !default;
