@mixin ellipsis {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin clearfix {
  &:before,
  &:after {
    display: table;

    content: '';
  }

  &:after {
    clear: both;
  }
}

// Makes a collection of color classes
@mixin color-maker($name, $color) {
  .#{$text-alias}--#{$name} {
    color: $color;
  }

  .#{$background-alias}--#{$name} {
    background: $color;
  }

  @each $param in $color-variant-params {
    $alias: nth($param, 1);
    $lightness: nth($param, 2);
    $adjusted-color: adjust-color($color, $lightness: $lightness);

    @if $adjusted-color != white and $adjusted-color != black {
      .#{$text-alias}--#{$name}--#{$alias} {
        color: $adjusted-color;
      }

      .#{$background-alias}--#{$name}--#{$alias} {
        background: $adjusted-color;
      }
    }
  }
}

// Makes a collection of display classes
@mixin display-maker($size) {
  $responsive-separator: if($size, #{$size}--, null);
  $class-prefix: #{$display-alias}--#{$responsive-separator};

  .#{$class-prefix}#{$block-alias} {
    display: block;
  }

  .#{$class-prefix}#{$inline-alias} {
    display: inline-block;
  }

  .#{$class-prefix}#{$none-alias} {
    display: none;
  }
}

// Makes a collection of row classes
@mixin row-maker($size) {
  $responsive-separator: if($size, #{$size}--, null);
  $class-prefix: #{$row-alias}--#{$responsive-separator};

  &.#{$class-prefix}#{$wrap-alias} {
    flex-wrap: wrap;
  }

  &.#{$class-prefix}#{$nowrap-alias} {
    flex-wrap: nowrap;
  }

  &.#{$class-prefix}#{$column-alias} {
    flex-direction: column;
  }

  &.#{$class-prefix}#{$row-alias} {
    flex-direction: row;
  }

  &.#{$class-prefix}#{$align-alias}--#{$flex-start-alias} {
    align-items: flex-start;
  }

  &.#{$class-prefix}#{$align-alias}--#{$flex-end-alias} {
    align-items: flex-end;
  }

  &.#{$class-prefix}#{$align-alias}--#{$center-alias} {
    align-items: center;
  }

  &.#{$class-prefix}#{$justify-alias}--#{$space-between-alias} {
    justify-content: space-between;
  }

  &.#{$class-prefix}#{$justify-alias}--#{$center-alias} {
    justify-content: center;
  }

  &.#{$class-prefix}#{$justify-alias}--#{$flex-start-alias} {
    justify-content: flex-start;
  }

  &.#{$class-prefix}#{$justify-alias}--#{$flex-end-alias} {
    justify-content: flex-end;
  }
}

// Makes a collection of column classes
@mixin column-maker($size) {
  $responsive-separator: if($size, #{$size}--, null);
  $class-prefix: #{$column-alias}--#{$responsive-separator};

  @for $i from 1 through $grid-columns {
    .#{$class-prefix}#{$i} {
      width: percentage($i / 12);
    }
    @if $include-offset-columns == true {
      .#{$class-prefix}#{$offset-alias}--#{$i} {
        margin-left: percentage($i / 12);
      }
    }
  }

  .#{$class-prefix}#{$align-alias} {
    width: auto;

    white-space: nowrap;

    flex: 0 0 auto;
  }

  .#{$class-prefix}#{$align-alias}--#{$center-alias} {
    align-self: center;
  }

  .#{$class-prefix}#{$align-alias}--#{$flex-start-alias} {
    align-self: flex-start;
  }

  .#{$class-prefix}#{$align-alias}--#{$flex-end-alias} {
    align-self: flex-end;
  }

  .#{$class-prefix}#{$first-alias} {
    order: -1;
  }

  .#{$class-prefix}#{$last-alias} {
    order: 1;
  }
}

// Makes a collection of margin classes
@mixin margin-maker($name, $size) {
  .#{$margin-alias}--#{$name} {
    margin: #{$size};
  }

  .#{$margin-alias}--#{$name}--#{$top-alias} {
    margin-top: #{$size};
  }

  .#{$margin-alias}--#{$name}--#{$bottom-alias} {
    margin-bottom: $size;
  }

  .#{$margin-alias}--#{$name}--#{$left-alias} {
    margin-left: #{$size};
  }

  .#{$margin-alias}--#{$name}--#{$right-alias} {
    margin-right: #{$size};
  }

  .#{$margin-alias}--#{$name}--#{$vertical-alias} {
    margin-right: #{$size};
    margin-left: #{$size};
  }

  .#{$margin-alias}--#{$name}--#{$horizontal-alias} {
    margin-top: #{$size};
    margin-bottom: #{$size};
  }
}

// Makes a collection of padding classes
@mixin padding-maker($name, $size) {
  .#{$padding-alias}--#{$name} {
    padding: #{$size};
  }

  .#{$padding-alias}--#{$name}--#{$top-alias} {
    padding-top: #{$size};
  }

  .#{$padding-alias}--#{$name}--#{$bottom-alias} {
    padding-bottom: $size;
  }

  .#{$padding-alias}--#{$name}--#{$left-alias} {
    padding-left: #{$size};
  }

  .#{$padding-alias}--#{$name}--#{$right-alias} {
    padding-right: #{$size};
  }

  .#{$padding-alias}--#{$name}--#{$horizontal-alias} {
    padding-right: #{$size};
    padding-left: #{$size};
  }

  .#{$padding-alias}--#{$name}--#{$vertical-alias} {
    padding-top: #{$size};
    padding-bottom: #{$size};
  }
}

// Makes a collection of pull classes
@mixin pull-maker($size) {
  $responsive-separator: if($size, #{$size}--, null);
  $class-prefix: #{$pull-alias}--#{$responsive-separator};

  .#{$class-prefix}left {
    float: left;
  }

  .#{$class-prefix}right {
    float: right;
  }
}

// Makes a collection of text classes
@mixin position-maker($size) {
  $responsive-separator: if($size, #{$size}--, null);
  $class-prefix: #{$position-alias}--#{$responsive-separator};

  .#{$class-prefix}#{$absolute-alias} {
    position: absolute;
  }

  .#{$class-prefix}#{$left-alias} {
    left: 0;
  }

  .#{$class-prefix}#{$right-alias} {
    right: 0;
  }

  .#{$class-prefix}#{$top-alias} {
    top: 0;
  }

  .#{$class-prefix}#{$top-alias} {
    bottom: 0;
  }

  .#{$class-prefix}#{$top-alias}#{$right-alias} {
    top: 0;
    right: 0;
  }

  .#{$class-prefix}#{$bottom-alias}#{$right-alias} {
    right: 0;
    bottom: 0;
  }

  .#{$class-prefix}#{$bottom-alias}#{$left-alias} {
    bottom: 0;
    left: 0;
  }

  .#{$class-prefix}#{$top-alias}#{$left-alias} {
    top: 0;
    left: 0;
  }
}

// Makes a collection of text classes
@mixin text-maker($size) {
  $responsive-separator: if($size, #{$size}--, null);
  $class-prefix: #{$text-alias}--#{$responsive-separator};

  .#{$class-prefix}#{$strong-alias} {
    font-weight: bold;
  }

  .#{$class-prefix}#{$italic-alias} {
    font-style: italic;
  }

  .#{$class-prefix}#{$ellipsis-alias} {
    @include ellipsis();
  }

  .#{$class-prefix}#{$left-alias} {
    text-align: left;
  }

  .#{$class-prefix}#{$center-alias} {
    text-align: center;
  }

  .#{$class-prefix}#{$right-alias} {
    text-align: right;
  }
}
