$screen-xs: 0 !default;
$screen-sm: 544px !default;
$screen-md: 768px !default;
$screen-lg: 992px !default;
$screen-xl: 1200px !default;
$base-space: 1em !default; // 16px

// Grid settings
$include-grid: true !default;
$include-offset-columns: true !default;
$include-responsive-grid: true !default;
$grid-columns: 12 !default;
$grid-gutter: 30px !default;
$screen-params: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
) !default;

// Margin Settings
$include-margin: true !default;
$margin-params: (
  0: 0,
  xs: $base-space,
  sm: ($base-space * 2),
  md: ($base-space * 3),
  lg: ($base-space * 4),
  xl: ($base-space * 5)
) !default;

// Padding Settings
$include-padding: true !default;
$padding-params: (
  0: 0,
  xs: $base-space,
  sm: ($base-space * 2),
  md: ($base-space * 3),
  lg: ($base-space * 4),
  xl: ($base-space * 5)
) !default;

// Pull Settings
$include-pull: true !default;
$include-responsive-pull: true !default;
$pull-params: $screen-params !default;

// Text Settings
$include-text: true !default;
$include-responsive-text: true !default;
$text-params: $screen-params !default;

// Display Settings
$include-display: true !default;
$include-responsive-display: true !default;
$display-params: $screen-params !default;

// Position Settings
$include-position: true !default;
$include-responsive-position: true !default;
$position-params: $screen-params !default;
