html,
body,
main {
  height: 100%;
}

body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-color;
  display: flex;
}

header {
  background: #F3FAF8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38.1666%;

  a {
    max-width: 61.8334%;
  }
}

section {
  overflow-y: scroll;
  width: 61.8334%;
}

article {
  padding: 48px;
}
