/**
 * PULL
 */
@mixin pull-maker($size) {
  $responsive-separator: if($size, #{$size}#{$spacer}, null);
  $class-prefix: #{$pull-alias}#{$spacer}#{$responsive-separator};

  .#{$class-prefix}#{$left-alias} {
    float: left;
  }

  .#{$class-prefix}#{$right-alias} {
    float: right;
  }

  .#{$class-prefix}#{$none-alias} {
    float: none;
  }
}

@if $include-responsive-pull == true {
  @each $param in $pull-params {
    $name: nth($param, 1);
    $width: nth($param, 2);

    @if $width == 0 {
      @include pull-maker($name);
    } @else {
      @media(min-width: $width) {
        @include pull-maker($name);
      }
    }
  }
} @else {
  @include pull-maker(null);
}
